{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
<h3>Ladies & gentlemen, boys & girls, animals & monsters, dolls & puppets and all other creatures visiting here,<strong> WELCOME </strong>to the website of Puppit Productions.</h3>
<p>This site is owned by Jildou Zwamborn, aka Puppit, illustrator, puppeteer, animator and allround professional tinker. Puppit Productions is a one-woman company dedicated to the development of fictional characters and their equally fictional surroundings:</p>
<p>Wether it is a drawn scribble in it's doodly world, a doll or marionette in all it's wired weirdness, or an animation puppet telling it's story from the parallel universe that is a screen.</p>
<p>As you can clearly see, this site is still new and under construction. Therefore there might be brief downtimes, weird errors or after-second-thought-not-such-a-good-idea backgrounds, as well as a slight lack of visual material.</p>
<p>I'm working on it, so please be patient and look forward to more!</p>
<p>Sincerely,</p>
<p>&nbsp;Puppit.</p>
<center>
<p><img class="img_block" src="/static/img/welkom.jpg" alt="" width="609" height="547" /></p>
</center>
{% endblock %}
